body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #f7f7f7;
    margin: 0;
}

.container {
    max-width: 420px;
    margin: auto;
    background: white;
    padding: 20px;
    min-height: 100vh;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #0C831F;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}
