body {
  font-family: Arial;
  background: #f6f6f6;
}
.center {
  text-align: center;
  margin-top: 100px;
}
input, select, textarea, button {
  padding: 10px;
  margin: 10px;
}
button {
  background: #0c831f;
  color: white;
  border: none;
}
.card {
  display: inline-block;
  padding: 20px;
  background: white;
}
