body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #2c2c2c;
}

input, select, textarea, button {
    width: 100%;
    padding: 12px;
    margin-top: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #0c831f;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
