<link rel="stylesheet" href="/static/styles.css">

<div class="header">Request Help</div>

<div class="container">
  <form method="POST" enctype="multipart/form-data" class="card">
    <select name="category">
      <option>Medical</option>
      <option>Groceries</option>
      <option>Mobility</option>
      <option>Safety</option>
    </select><br><br>

    <textarea name="description" placeholder="Describe the problem"></textarea><br><br>

    <input type="file" name="image"><br><br>

    <button class="btn">Submit Request</button>
  </form>
</div>
