{% extends "base.html" %}
{% block content %}
<form method="POST" class="bg-white p-6 rounded-xl shadow space-y-4">
    <h2 class="text-xl font-bold">Login</h2>

    <input name="name" required placeholder="Your name"
           class="w-full p-3 border rounded">

    <select name="role" class="w-full p-3 border rounded">
        <option value="seeker">Need Help</option>
        <option value="volunteer">Volunteer</option>
    </select>

    <button class="w-full bg-green-500 text-white py-3 rounded-lg">
        Continue
    </button>
</form>
{% endblock %}
